.footer {
    font-size: 12px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(78, 73, 73);
    text-align: center;
    }
table, th, td {
    border: 1px solid black;
    }  
.good{font-family: "Arial Black" Bold;
    color: green;}
.bad{font-family: "Arial Black" Bold;
    color: red;
}    